---
import BaseLayout from '../layouts/BaseLayout.astro';
---

<BaseLayout title="ホーム">
  <main>
    <section class="hero">
      <h1>ホーム</h1>
      <div class="content">
        <p>こんにちは
</p>
<p>fs
</p>
<p>これでいいと思います。
</p>
<p>こんにこんにちは赤ちゃん
</p>

      </div>
    </section>
  </main>
</BaseLayout>

<style>
  .hero {
    padding: 4rem 0;
  }

  .hero h1 {
    font-size: 3rem;
    margin-bottom: 2rem;
  }

  .content {
    font-size: 1.25rem;
    line-height: 1.8;
  }

  .content p {
    margin-bottom: 1rem;
  }
</style>
